header{
    background-color: rgb(16, 44, 84);
    display: flex;
    justify-content: space-between;
}
.part_one > img{
    height: 75%;
    padding: 5px;
}
.part_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38%;
}
.part_one > nav > ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
}
.part_one > nav > ul > li {
    margin-right: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    padding: 10px;
}
.part_one > nav > ul > li > a {
    color: #E8EBEf;
    text-decoration: none;  
}
.part_one > nav > ul > li > a:hover{
    color: black;
    text-decoration: none;  
    transition: 0,1s;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 
    0px 0px 10px rgba(225, 225, 225, 1), 
    0px 0px 10px rgba(225, 225, 225, 1);
}
.part_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: 30%;
    height: 100%;
}

main{
   
    
    
}
main > article{
    border: 1px black solid;
    
    
}





footer{
    background-color: rgb(16, 44, 84);
    text-align: center;
    padding: 15px;
    width: 100%;
    color: #E8EBEf;
}
.icons > a{
    color: #E8EBEf;
    text-decoration: none;
    margin-right: 15px;
    font-size: 23px;
}